<%- include head %>
</head>
<body>

  <%- include public/headBar %>

  <div>
  <h2 align="center"> 资源列表 </h2>
  </div>
  <hr />
  
  <!--列表信息-->
  <div align="center">
      <a class="btn btn-primary btn-large" href="/sourceInfo">信息一</a> 
  </div>
  
  
  <br></br>
    <br></br>
    <div id="container" class="container"  align="right"> 
   	 <hr />
      <footer > 
        <p><a href="http://www.byvoid.com/" target="_blank">KevinDust</a> 2014</p> 
      </footer> 
    </div> 
<%- include footer %>