<%- include head %>

<!--输入该页面对应的css和参数-->

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">
<link href="/stylesheets/page_userInfo.css" rel="stylesheet">
<link href="/stylesheets/bootstrap.css" rel="stylesheet">

</head>
<!--=========================head end============================================================-->

<body>
<!--=========================content部分==============================================-->
<br/><br/>
<!--开头部分-->
<div>
<h2>资源介绍</h2>
</div>
<hr>
<%- include public/headBar %>
  
<!--content左侧-->
<div class="content_left">
  <div class="panel panel-default">

    <h2><%title%></h2>
    <p class="headTexture">
    	<img src="/img/headTexture.jpg" width="128 height="72"/>
    </p>
    <p class="lead">...</p>
    
    <p><a class="btn btn-lg btn-success" href="#" role="button">我的资源</a></p>

    <p><a class="btn btn-lg btn-success" href="#" role="button">我的信息</a></p>

  </div>
</div><!--content_left-->

<!--content中间-->
<div class="content_center">
  <!--列表信息--> 
<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">资源简介:</h3>
   </div>
   <div class="panel-body">
      这是一本不好的书，请大家不要看。谢谢大家!!!!!!
   </div>
</div>

<div class="panel panel-info">
   <div class="panel-heading">
      <h3 class="panel-title">发布者信息：</h3>
   </div>
   <div class="panel-body">
      <p>姓名：王老五</p>
	  <p>职位：吊毛</p>
   </div>
</div>
</div>
<!--content_center-->

<!--===============================content部分end=========================================-->  
  
  <br></br>
    <br></br>
    <div id="container" class="container"  align="right"> 
   	 <hr />
      <footer > 
        <p><a href="http://www.byvoid.com/" target="_blank">KevinDust</a> 2014</p> 
      </footer> 
    </div> 
<%- include footer %>