<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <style type="text/css">
    	body{
    		padding-top: 60px;
    		padding-bottom: 40px;
    	}
    </style>
  </head>
  <body>
