<%- include head %>
</head>
<body>

  <%- include public/headBar %>

  <div class="jumbotron"> 
    <div class="container">
    <h1>欢迎来到 312 RuinStudyCommissars</h1> 
    <p>RuinStudCommissars 是一个基于 Node.js 的学习管理系统。</p> 
    <p> 
      <a class="btn btn-primary btn-large" href="/login">登录</a> 
      <a class="btn btn-primary btn-large" href="/reg">立即注册</a> 
    </p> 
    </div>
  </div> 
   
  <div class="row" align="right"> 
    <div class="span4"> 
      <h2>序填 说</h2> 
       <p>昨天看到谁在吃填填圈</p> 
    </div> 
    <div class="span4"> 
      <h2>兴济 说</h2> 
       <p> 
       	恩？在哪儿
       </p> 
   </div> 
    <div class="span4"> 
      <h2>KevinDust 说</h2> 
      <p>
      	哈哈哈，垃圾EJS官网上不了...
      </p> 
    </div> 
  </div> 
  <br></br>
    <br></br>
    <div id="container" class="container"  align="right"> 
   	 <hr /> 
      <footer > 
        <p><a href="http://www.byvoid.com/" target="_blank">KevinDust</a> 2014</p> 
      </footer> 
    </div> 
<%- include footer %>