<%- include head %>
  <link href="stylesheets/reg.css" rel="stylesheet">
</head>
<body>

  <%- include public/headBar %>
  <div class="reg">
    <div class="container">

        <form class="form-reg" role="form" method="post">
                 <br></br>
          <div class="page-header">
            <h1>用户注册</h1>
          </div> 

          <input type="username" class="form-control" placeholder="username" required="" autofocus="" id="username" name="username">
          <span class="help-block">请输入用户名</span>

          <input type="password" class="form-control" placeholder="Password" required="" id="password" name="password">
          <span class="help-block">请输入密码</span>

          <input type="password" class="form-control" placeholder="Password-repeat" required="" d="password-repeat" name="password-repeat">
          <span class="help-block">请再次输入密码</span>

          <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
        </form>
    </div>
  </div>
<%- include footer %>