<%- include head %>
</head>
<body>

  <%- include public/headBar %>

  <div>
  <h2 align="center"> 资源介绍</h2>
  </div>
  <hr />
  
  <!--列表信息--> 
<div class="panel panel-primary">
   <div class="panel-heading">
      <h3 class="panel-title">资源简介:</h3>
   </div>
   <div class="panel-body">
      这是一本不好的书，请大家不要看。谢谢大家!!!!!!
   </div>
</div>

<div class="panel panel-info">
   <div class="panel-heading">
      <h3 class="panel-title">发布者信息：</h3>
   </div>
   <div class="panel-body">
      <p>姓名：王老五</p>
	  <p>职位：吊毛</p>
   </div>
</div>

  
  
  <br></br>
    <br></br>
    <div id="container" class="container"  align="right"> 
   	 <hr />
      <footer > 
        <p><a href="http://www.byvoid.com/" target="_blank">KevinDust</a> 2014</p> 
      </footer> 
    </div> 
<%- include footer %>